
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Enter your email</label>
    <input 
      type="text" 
      class="form-control" 
      id="email" 
      placeholder="Enter email" 
      formControlName="email"
      name="email" 
      [ngClass]="{'is-invalid': form.get('email').invalid && form.get('email').touched}"
    >
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
 
  <div class="d-flex justify-content-between align-items-center">
   <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Forgot</button>

  </div>
  <div>
    <div class="form-group text-center mt-3">
      <a routerLink="/login">Go to Login</a>
    </div>
  </div>
  
</form>